#right {
  background: #6B8E23;
  height: 200px;
  width: 200px;
  border-radius: 20%;
  text-align: center;
  font-size: 140pt;
  font-weight: bolds;
  color: white;
}

#left {
  background: #6B8E23;
  height: 200px;
  width: 200px;
  border-radius: 20%;
  text-align: center;
  font-size: 140pt;
  font-weight: bolds;
  color: white;
}

#center {
  background: #B22222;
  height: 550px;
  width: 550px;
  border-radius: 20%;
  text-align: center;
  font-size: 370pt;
  font-weight: bolds;
  color: white;
}

.container {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  user-select: none;
}
