:root {
  --color1: #6B8E23;
  ;
  --color2: #B22222;
}

#right {

  background-color: var(--color1);
  color: white;
  border-radius: 30px;
  padding: 10px 25px;
  font-weight: bold;
  text-align: center;
}

#left {
  background-color: var(--color1);
  color: white;
  border-radius: 30px;
  padding: 10px 25px;
  font-weight: bold;
  text-align: center;
}

#center {
  text-align: center;
  background: var(--color2);
  border-radius: 20%;
  font-size: 250pt;
  color: white;
}


body {
  background-image: url('fonslider1-624x360.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f7f6;
  background-image: url('images/bg.jpg');

}

#baground {
  border-radius: 20%;
  text-align: center;
  font-size: 35pt;
  color: black;
  background: white;
}

#alphabet-container {
  background: white;
  border-radius: 12px;
  text-align: center;
}


.letter-box {
  display: inline-block;
  margin: 8px;
  padding: 10px 15px;
  background-color: #2c3e50;
  color: white;
  border-radius: 6px;
  font-weight: bold;
  font-size: 24px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.selected-letter-box {
  display: inline-block;
  margin: 8px;
  padding: 10px 15px;
  background-color: var(--color2);
  color: white;
  border-radius: 6px;
  font-weight: bold;
  font-size: 24px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#language {
  border-radius: 20%;
  text-align: center;
  color: black;
  font-size: 35pt;
  background: white;
}

#music-button {
  border-radius: 20%;
  text-align: center;
  color: black;
  font-size: 35pt;
  background: white;
}